.container {
    max-width: 960px;
  }

.blog-header {
    padding-left : 100px;
    padding-right : 200px;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-size: 1.3rem;
    text-align: left;
    line-height: 30px;
  }

  .language{
    line-height: 20px;
    word-spacing: 10px;
  }
  
  .nav-scroller {
    margin-bottom: 2px;
  }
  
  .nav-scroller .nav {
    margin-top: -1px;
    text-align: center;
  }
  
  .nav-scroller .nav-link {
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .jumbotron{
      height: 340px;
  }
  
  /*
   * Blog posts
   */

   .side-text{
       padding-top: 15px;
       padding-bottom: 15px;
       padding-left: 5px;
       line-height: 20px;
   }

  .footer {
    background-color: black;
    line-height: 50px;
  }

  .sub{
  line-height: 50px;
  }

  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: black;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }